.add-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto 0 auto;
}
#save-btn {
  padding: 4px 30px;
}
#form {
  width: 90%;
  margin: 50px auto;
}
.hide {
  display: none;
}
#dimensions_input-display {
  display: flex;
}
.type {
  position: relative;
  padding: 60px 0;
  background-color: rgba(185, 185, 185, 0.4);
  border: 3px solid black;
}
small {
  display: block;
  font-family: sans-serif;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: rgb(61, 61, 61);
}

.product {
  position: relative;
  width: 290px;
  padding: 25px 10px;
  background-color: rgba(170, 170, 170, 0.4);
  border: 3px solid black;
  text-align: center;
  margin-bottom: 40px;
}
.checkbox{
  position: absolute;
  top: 10px;
  left: 10px;
}
#back_btn{
  display: flex;
  position: absolute;
  background-color: rgb(221, 221, 221);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#back_btn:hover{
  background-color: rgb(180, 180, 180);
  transition: 200ms ease-in;
}
#back_btn a{
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.product h5 {
  margin: 10px 0;
}
#checkForm{
  width: 100%;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* HIDE NUMBER INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* //////////////////////// */
